* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

#root {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  background-color: gray;
}

.app {
  display: flex;
  gap: 24px;
  margin: auto;
  max-width: 1500px;
  padding: 32px 24px;
}

.cv-sheet {
  height: 70em;
  width: 50%;
  background-color: red;
}

.cv-header {
  width: 100%;
  height: 20%;
  background-color: rgb(0, 0, 255);
}

.details {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  flex-wrap: wrap;
  height: fit-content;
  max-width: 700px;
  gap: 28px;
}

.personal-details {
  background-color: white;
  display: flex;
  flex-direction: column;
  border-radius: 2em;
  padding: 2em;
  gap: 18px;
}

.text-input {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.text-input input {
  background-color: rgba(128, 128, 128, 0.2);
  border: 2px solid transparent;
  border-radius: 12px;
  padding: 10px;
  width: 80%;
}

.icons {
  width: 2em;
  height: 2em;
}

.hidden-info {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: white;
  padding: 1em;
  border-radius: 1em;
}

.main-info {
  display: flex;
}

.main-info > * {
  margin: 0px 5px;
  width: 100%;
}
