#root {
  margin: 0;
  padding: 0;
  height: 100vh;
  width: 100vw;
}

.app {
  display: flex;
  height: 100%;
}

.cv-sheet {
  height: 100%;
  width: 20%;
  background-color: red;
}

.details {
  height: 100%;
  width: 50%;
  background-color: white;
}

.text-input {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-bottom: 1em;
}

.icons {
  width: 2em;
  height: 2em;
}

.hidden-info {
  display: flex;
  align-items: center;
  justify-content: space-around;
  background-color: white;
  border-radius: 1em;
}

.main-info {
  display: flex;
  align-items: center;
}

.main-info > * {
  margin: 0px 5px;
}
